name: Node.js CI

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Use Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '20.18.x'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build  
        run: npm run build
      - name: Lint  
        run: npm run lint
      - name: Test with coverage
        run: npm run test:coverage
