on:
  push:
    branches:
      - main

name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4.3.0
        id: release
        with:
          token: ${{ secrets.REPO_GH_PAT }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        if: steps.release.outputs.paths_released != '[]'
      - name: Setup Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        if: steps.release.outputs.paths_released != '[]'
        with:
          node-version: '20.18.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Build
        if: steps.release.outputs.paths_released != '[]'
        run: |
          npm install
          npm run build
      - name: Publish
        if: steps.release.outputs.paths_released != '[]'
        run: |
          npm run publish-release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
